@media screen and (min-width:866px) and (max-width: 3200px){

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #eaddee3a;
  }

  /*.button-style {
  }*/
  h1  {
    margin-top: 1em;  
    text-align: center;
  }

  .service-header-format{
    margin-top: 1em;  
    text-align: center;
  }

  .header-moved {
    text-align: center;
  }

  .about-txt{
    margin-bottom: 5em;
  }

  .description-text {
    color:  rgb(235, 105, 7);
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }

  .image-item img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: black 2px solid;
  }

  .dim {
    opacity: 0.5;
  }

  /*gallery images*/
  @keyframes shake {
    0% { transform: scale(1.2)translate(0, 0); }
    25% { transform: scale(1.2) translate(-5px, 0); }
    50% { transform: scale(1.2) translate(5px, 0); }
    75% { transform: scale(1.2) translate(-5px, 0); }
    100% { transform: scale(1.2) translate(0, 0); }
  }

  /*service card displays*/
  .services-grid {
      display: grid;
      grid-template-columns: repeat(4, .3fr);
      margin-top: 5em;
  } 

  .card-container {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    margin: 5em 3em 3em 5em;
    height: 460px;
    width: 400px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border: rgb(235, 105, 7) solid 2px;
    cursor: pointer;
  }

  .card-container.expanded {
    height: max-content; /* Height auto when expanded */
  }

  /*card formatting*/
  .card-container .MuiCardContent-root {
    min-height: 800px;
    height: auto;
    text-align: center;
    margin-top: 4em;
  }

  /*photo gallery container*/
  .enlarge {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: scale(15.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    z-index: 1;
  }

  .image-item:not(.dim) {
    opacity: 1;
  }

  .crew-img {
    border: 2px solid;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    margin-top: 8em;
    margin-right: 4em;
  }

  .home-img {
    display: flex;
    border: 1px solid black;
    margin-bottom: 2em;
    height: auto;
    width: 100%;
  }

  .gallery-container {
    margin-top: 8em;
  }

  /*landing page image*/
  .home-container {
    display: flex;
    flex-direction:row;
    width: auto;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin-top: 0;
  }

  ul {
  list-style: none;

  }

  .child-container {
    text-align: left;
    font-size:14pt;
    margin-top: 8em;
    margin-left: 2%;
    margin-right: 2%;
    width: 50%;
  }

  /*description section*/
  .txt-formatted {
    margin-top: 6em;
    font-size:22px;
    text-align:center;
  }

  .price-text {
    font-style: italic;
    font-variant: small-caps;
  }

  nav {
    border-bottom: 2px solid black;
    text-align: center;
    top: 0;
    width: 100%;
    background:#f96211;
    position: sticky;
    z-index: 2;
    overflow: hidden;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 20px;
  }

  nav li {
    display: inline-block;
    color: blue;
  }

  nav a {
    text-decoration: none;
    color: rgb(4, 4, 152);
    font-weight: bold;
    padding: 5px 12px;
  }

  nav a:hover {
    background: black;
    color: white;
    border-radius: 6px;
  }

  .App {
    text-align: center;
    display:flex;
    flex-direction: column;
    border: 1px solid black;
  }

  .App-link {
    color: #61dafb;
  }

.service-header {
    text-align: center;
  }
  
  /* Hide by default */
  .hamburger-icon {
    visibility:hidden;
  }
}
/************** mobile-breakpoint **********/
@media screen and (max-width: 768px) {
  .hamburger-icon {
    display: flex;
  }

  nav {
    display: flex;
    flex-direction:column;
    border-bottom: 2px solid black;
    align-items: center;
    top: 0;
    background:#f96211;

  }

  nav ul {
    display:flex;
    flex-direction: column;
    max-height:0;
    opacity: 0;
    overflow: hidden;
    transition: all 3s ease-in-out;
  }

  nav ul.show {
    min-height: 100vh;  
    opacity: 1; 
    transition: all 1s ease-in-out;
   }

  nav li {
    display: flex;
    padding:1.5em;
    color: blue;
    font-size: larger;
  }

  /*landing page image*/
.home-container {
  display: flex;
  flex-direction:row;
  width: auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  margin-top: 0;
  }

  /*card container*/
.services-grid {
  display: grid;
  grid-template-columns:100%;
  margin-top: 5em;
  margin-left: .8em;
  margin-right: .8em;
} 

  /*card content title, price & details*/
.card-container  {
  height:auto;
  text-align: center;
  display: flex;
  flex-direction:column;
  border-radius: 20px;
  border: rgb(235, 105, 7) solid 2px;
  overflow: hidden;

}

/*initial card dimensions*/
.card-container {
  margin: 1em .1em 2em .19em;
  height:250px;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.452);
}
/*more details*/
.description-text {
  color:  rgb(235, 105, 7);
  padding-top: 1em;
}

.card-container:active {
  background-color: #0056b3;  /* Darker blue */
  }

.card-container.expanded {
  height: auto; /* Height auto when expanded */
  }

.card-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.504);  /* Shadow for depth */
  transform: scale(1.05);  /* Slightly enlarge the card */
  }


.txt-formatted {
  margin-top: 5em;
  font-size:22px;
  text-align:start;
}

.price-text {
  font-style: italic;
  font-variant: small-caps;
}

.home-img {
  display: flex;
  border: 1px solid black;
  margin-bottom: 2em;
  height: 90vh;
  width: 100%;
  }

  .service-header {
    text-align: center;
  }
}
